.footer{
    background-color: #2F2B4A;
    color: #fff;
    .head{
        padding: 40px 0px;
    }
    .list{
        @include df-jcsb;
    }
    .item{
        &__title{
            font-family: 'commons-m';
            font-size: 1.125em;
            line-height: 130%;
        }
        &__list{
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &__link{
            color: #fff;
            line-height: 140%;
            opacity: 0.7;
            transition: .3s ease;
            &:hover{
                opacity: 0.9;
            }
        }
    }
    .message{
        color: #fff;
        background-color: #ffffff1f;
        display: flex;
        gap: 10px;
        padding: 15px 20px;
        border: 1px solid #ffffff3d;
        border-radius: 10px;
        transition: .3s ease;
        &__title{
            font-family: 'commons-m';
            line-height: 140%;
        }
        &__info{
            color: #F4F5F6;
            font-size: 0.9em;
        }
        &:hover{
            background-color: #ffffff48;
        }
    }
    
    .status{
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        &__logo{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #375856;
            // opacity: 0.3;
            position: relative;
            &::after{
                content: '';
                background-color: #49C171;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        &__title{
            max-width: 150px;
            line-height: 140%;
        }
    }
    /* ====================================================================== */
    /* Bottom Section */
    /* ====================================================================== */
    .foot{
        @include df-aic-jcsb;
        padding: 20px 0px;
        border-top: 1px solid #ffffff25;
    }
    .text{
        line-height: 140%;
        color: #fff;
    }
    .payment{
        @include df-aic;
        gap: 10px;
        .text{
            margin-right: 5px;
        }
    }
    .btn{
        background-color: #f4f6f925;
        border-radius: 4px;
        transition: .3s ease;
        padding: 0px 10px;
        @include df-aic-jcc;
        height: 36px;
        &:hover{
            background-color: #f4f6f94d;
        }
    }
    .conf{
        @include df-aic;
        gap: 30px;
    }


    @media (max-width: 768px) {
        .list{
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 30px 25px;
        }
        .item{
            &:last-child{
                display: flex;
                gap: 45px;
                align-items: center;
            }
        }
        .status{
            margin-top: 0;
        }
        .foot{
            .conf{
                display: none;
            }
        }
    }


    @media (max-width: 600px) {
        .head{
            padding: 30px 0px 20px;
        }
        .item{
            &:last-child{
                flex-direction: column;
                width: 100%;
                gap: 20px;
            }
        }
        .message{
            width: 100%;
            justify-content: center;
            align-items: flex-start;
        }
        .status__title{
            max-width: 100%;
        }
        .conf{
            gap: 20px;
        }
        .foot{
            flex-wrap: wrap;
            gap: 20px;
        }
        .text{
            order: 3;
            text-align: center;
            width: 100%;
        }
        .payment{
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
    }
}