.header{
    border-bottom: 1px solid #E3E3E8;
    background-color: #fff;
    .box{
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .search{
        position: relative;
        &__input{
            width: 440px;
            border: 1px solid #DEDEE2;
            border-radius: 6px;
            padding: 12px 20px;
            font-size: 1em;
            background-color: #F4F5F6;
            &::placeholder{
                color: #55556D;
            }
        }
        &__btn{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            margin: auto;
        }
    }
    .option{
        display: flex;
        align-items: center;
        gap: 10px;
        &_bold{
            .option__title{
                font-weight: 700;
            }
        }
    }


    @media (max-width: 1440px) {
        .search{
            &__input{
                width: 350px;
            }
        }
    }
    
    
    @media (max-width: 1024px) {
        .box{
            padding: 10px 0px;
        }
        .logo{
            img{
                width: 150px;
            }
        }
        .search{
            &__input{
                width: 300px;
                font-size: 14px;
                padding: 10px 15px;
            }
        }
    }

    @media (max-width: 768px) {
        .box{
            justify-content: start;
        }
        .logo{
            width: 160px;
        }
        .search{
            margin: 0px auto 0px 15px;
            flex: 1;
            &__input{
                width: 100%;
            }
        }
        .option{
            margin-left: 30px;
            &__title{
                display: none;
            }
        }
    }

    @media (max-width: 600px) {
        .menu{
            display: flex;
        }
        .logo{
            width: 120px;
            margin: 0px auto 0px 15px;
        }
        .search{
            display: none;
        }
    }
}